.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  border: 3px solid $color-primary;
  border-radius: 0.5rem;
  min-width: 30rem;
  height: 6.3rem;
  width: 32rem;

  img {
    height: 4.9rem;
  }

  span {
    font-size: 2.2rem;
    color: $color-primary;
    font-weight: 900;
  }
}

// .btns {
//   display: flex;
//   flex-direction: column;
//   gap: 1.6rem;
// }
