.living-section {
  padding: 8rem 0 22rem 0;
  @include bg-img;
  position: relative;

  @media only screen and (max-width: $tab-land) {
    padding: 8rem 0 30rem 0;
  }
}

.living-border-top,
.living-border-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  // height: 3.5rem;
}
.living-border-top {
  top: 0;
}
.living-border-bottom {
  bottom: 0;
}

.living {
  &__logo {
    height: 11rem;
    width: 10.5rem;
    margin: 0 auto;

    img {
      @include img-size;
    }
  }

  .heading {
    color: $color-secondary;
    font-size: 10.5rem;
  }

  .text {
    width: 50%;
    margin: 0 auto;
    font-size: 1.6rem;

    @media only screen and (max-width: $tab-land) {
      width: 80%;
    }

    .last-line {
      display: block;
      font-size: 2rem;
    }
  }

  &__img {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    width: 57rem;
    height: 49rem;

    @media only screen and (max-width: $laptop-land) {
      bottom: 2rem;
      right: 0;
      width: 50rem;
      height: 42rem;
    }
    @media only screen and (max-width: $tab-land) {
      width: 34rem;
      height: 30rem;
    }

    img {
      @include img-size;
    }
  }
}
